@import "bootstrap.less";
@import "bootstrap-jquery-ui.less";

.feed-content{
  padding-left:40px;
}

.main-content{
  padding:70px 20px;
  margin:0 auto;
  width:1500px;
}


.navbar-brand {
  &.nb-logo, &.nb-logo:hover {
    background-color: #8c1515;
    color: #FFF;
  }
}
.feedflare{
  display:none;
}
